@import 'spectre.css';
@import 'spectre.css/dist/spectre-icons.css';

.container {
  width: 60%;
  margin: 20px auto;
}

.tile .tile-content .tile-title {
  white-space: normal;
}

.markdown {
  p:last-child {
    margin-bottom: 0;
  }
}
